<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- spring日志配置 -->
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml" /> -->

	<property name="LOG_HOME" value="/data/logs/boot_redis" />
	<property name="queueSize" value="512" />
	<property name="maxHistory" value="15" />

	<!-- RollingFileAppender 分割日志 -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%date{ISO8601} %thread %logger %5p %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<!-- AsyncAppender 异步日志 -->
	<appender name="ASYNC_console" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>${queueSize}</queueSize>
		<appender-ref ref="CONSOLE" />
	</appender>

	<logger name="com.sxk" additivity="false" level="INFO">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="ASYNC_console" />
	</root>
</configuration>